PORT="3010"
DATABASE_URL="sqlserver://servidor:1433;database=banco-dados;user=usuario;password=senha;encrypt=true;trustServerCertificate=true"
DATABASE_URL="postgresql://postgres:senha-do-postgres@localhost:5432/nome-banco?schema=public"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuEmail@gmail.com
SMTP_PASS="redf bfoj gowd oxup"
JWT_SECRET="chave-secreta"